@import 'variables';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

html {
    background: url('#{$image}background.png') bottom center no-repeat;
    background-size: cover;
    cursor: default;
    // the autoprefixer doesn't add these automatically
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    user-select: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;
}

body > div > div {
    position: relative;
    margin: auto;
    width: 960px;
    height: 540px;
}

[pl-action] {
    -webkit-tap-highlight-color: transparent;
}

// preload assets
#asset-bin {
    display: none;
}

button {
    margin: 0;
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    font-family: inherit;
    font-size: inherit;

    &.close {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        background: url('#{$image}quit.png') no-repeat center center;
        background-size: 30px;
        cursor: pointer;
        width: 35px;
        height: 35px;

        &:hover {
            background: url('#{$image}quit-hover.png') no-repeat center center;
            background-size: 30px;
        }
    }
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

img.hidden {
    display: none;
}


.draggable {
    // scss-lint:disable VendorPrefix
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    // scss-lint:enable VendorPrefix
}

.canvas-src {
    display: none;
}

.screen {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform .5s;
    opacity: 0;
}

.screen.READY {
    display: block;
}

.screen.OPEN {
    transform: translateX(0);
    opacity: 1;
}

.screen.LEAVE {
    transform: translateX(-100%);
    opacity: 1;
}

.screen .next-screen,
.screen .prev-screen {
    display: block;
    position: absolute;
    bottom: 1%;
    z-index: 2;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    width: 70px;
    height: 70px;

}

.screen .next-screen {
    right: 4%;
    transform: translateX(50%);
    transition: opacity 1s;
    opacity: 0;
    margin-top: 5px;
    margin-right: 5px;

    background-image: url('#{$image}next.png');
    cursor: default;
    pointer-events: none;

    &:hover {
        background-image: url('#{$image}next-hover.png');
    }
}

.screen.GATED .next-screen {
    opacity: 0;
    cursor: default;
}

.screen.REPLAY .next-screen,
.screen.COMPLETE .next-screen,
.DEMO .screen .next-screen {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
}

.screen .prev-screen {
    left: 4%;
    transform: translateX(-50%);
    margin-top: 5px;
    margin-left: 10px;
    background-image: url('#{$image}prev.png');
}

.screen .prev-screen:hover {
    background-image: url('#{$image}prev-hover.png');
}

.screen.no-frame {
    overflow: hidden;
}

.screen.no-frame .frame {
    width: 70%;
    height: 100%;
    text-align: center;
}

.screen.no-frame .frame img.background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.screen.no-frame .frame .center > div {
    text-align: center;
}

.screen.no-frame.jelly .frame img.background {
    transform: translateX(-48%);
}

.screen.no-frame.jelly .frame .content-group div {
    transform: translateY(-70%);
    margin-top: 50%;
}

.screen.no-frame.jelly .frame .content-group img {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.screen.no-frame.jelly .frame h2 {
    margin: 6% 0;
}

.MENU-quit .screen:not(#quit) {
    opacity: 0;
}

img.flip {
    margin-top: -20px;
}

section.OPEN .flip {
    animation: zoomIn 1.5s;
}

// start screen specific

@keyframes bubbleUp {
    0% {bottom: -10%;transform: scale(.3)translateX(0%);opacity: 0;}
    1% {bottom: 0%;transform: scale(.3)translateX(0%);opacity: 0;}
    18% {bottom: 18%;transform: scale(.4)translateX(150%);opacity: 1;}
    22% {bottom: 22%;transform: scale(.4)translateX(150%);opacity: 1;}
    48% {bottom: 48%;transform: scale(.6)translateX(-75%);opacity: 1;}
    52% {bottom: 52%;transform: scale(.6)translateX(-75%);opacity: 1;}
    68% {bottom: 68%;transform: scale(.8)translateX(50%);opacity: 1;}
    72% {bottom: 72%;transform: scale(.8)translateX(50%);opacity: 1;}
    95% {bottom: 95%;transform: scale(1)translateX(-150%);opacity: 0;}
    99% {bottom: 100%;transform: scale(1)translateX(-150%);opacity: 0;}
    100% {bottom: -10%;transform: scale(.3);opacity: 0;}
}

#title {

    > .prev-screen {
        display: none;
    }

    .next-screen {
        position: absolute;
        right: 40px;
        bottom: 20px;
        transform: none;
        background-image: url('#{$image}play.png');
        background-size: 100%;
        width: 120px;
        height: 75px;

        &:hover {
            background-image: url('#{$image}play-hover.png');
        }
    }

    img.background {
        min-width: 100%;
        min-height: 100%;
    }

    .center {
        > .content-group {
            height: 90%;
            text-align: center;
        }

        img {
            position: relative;
            top: 30%;
            transition: opacity .5s;
            animation-delay: .5s;
            opacity: 0;
            width: 70%;
        }

    }

    &.OPEN {
        .center > .content-group img {
            opacity: 1;
        }
    }

    .bubbles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        div {
            position: absolute;
            bottom: -10%;
            animation: bubbleUp 8s infinite linear;
            border-radius: 20px;
            box-shadow: 0 0 5px 2px $blue;

            // scss-lint:disable VendorPrefix
            background: -moz-radial-gradient(center 45deg, circle closest-corner, $bubble-blue-1, $bubble-blue-2, $bubble-blue-3, $bubble-blue-4);
            background: -webkit-gradient(radial, center center, 0, center center, 100, from($bubble-blue-5), to($bubble-blue-4));
            background: gradient(center 45deg, circle closest-corner, $bubble-blue-6, $bubble-blue-7, $bubble-blue-8, $bubble-blue-4);
            background: -ms-radial-gradient(center, ellipse cover, $bubble-blue-9 0%, $bubble-blue-10 51%, $bubble-blue-11 71%, $bubble-blue-12 100%);
            // scss-lint:enable VendorPrefix

            width: 40px;
            height: 40px;

            &:nth-of-type(1) {
                left: 10%;
                animation-delay: 0s;
            }

            &:nth-of-type(2) {
                left: 50%;
                animation-delay: 1s;
                z-index: -1;
            }

            &:nth-of-type(3) {
                left: 75%;
                animation-delay: .5s;
                z-index: -1;
            }

            &:nth-of-type(4) {
                left: 30%;
                animation-delay: 1.5s;
            }

            &:nth-of-type(5) {
                left: 60%;
                animation-delay: 2s;
                z-index: -1;
            }

            &:nth-of-type(6) {
                left: 90%;
                animation-delay: 2.5s;
            }

            &:nth-of-type(7) {
                left: 20%;
                animation-delay: 3s;
                z-index: -1;
            }

            &:nth-of-type(8) {
                left: 45%;
                animation-delay: 3.5s;
            }

            &:nth-of-type(9) {
                left: 68%;
                animation-delay: 4s;
                z-index: -1;
            }

            &:nth-of-type(10) {
                left: 40%;
                animation-delay: 5s;
                z-index: -1;
            }

            &:nth-of-type(11) {
                left: 77%;
                animation-delay: 5.5s;
            }

            &:nth-of-type(12) {
                left: 86%;
                animation-delay: 6s;
                z-index: -1;
            }

            &:nth-of-type(13) {
                left: 35%;
                animation-delay: 7s;
                z-index: -1;
            }

            &:nth-of-type(14) {
                left: 65%;
                animation-delay: 7.5s;
            }
        }
    }
}

#video .frame {
    width: 760px;
    height: 540px;

    .video {
        position: absolute;
        top: 40px;
        background-image: url('#{$frame}video-frame.png');
        background-size: 100% 100%;
        width: 760px;

        video {
            position: relative;
            margin: 2.2% 2.5% 1.4%;
            width: 95%;
            max-height: 95%;
        }
    }
}

#info-jelly {
    h2 {
        margin-bottom: 100px;
        font-size: 32px;
    }
}

#quit {
    .frame {
        background-image: url('#{$frame}bg-slide.png');
        background-size: 30px;
        width: 960px;
        text-align: center;

        .background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
        }

        h3 {
            margin: 0;
        }

        button {
            margin: 10px;
        }

        .quit-yes {
            background-image: url('#{$image}yes.png');
            background-size: 100%;
            width: 180px;
            height: 150px;

            &:hover {
                background-image: url('#{$image}yes-hover.png');
                background-size: 100%;
            }
        }

        .quit-no {
            background-image: url('#{$image}no.png');
            background-size: 100%;
            width: 148px;
            height: 150px;

            &:hover {
                background-image: url('#{$image}no-hover.png');
                background-size: 100%;
            }
        }
    }
}

