@import 'variables';

@keyframes bob {
    0% {transform: translateY(-10%);}
    50% {transform: translateY(10%);}
}

#trash {
    .cursor {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .5s;
        z-index: 1;
        background-image: url('#{$sprite}sprite-6-1.png');
        background-position: -740px 0;
        background-size: 1110px;
        width: 355px;
        height: 595px;
        pointer-events: none;
    }

    .turtle {
        position: absolute;
        top: 10%;
        left: 0;
        background-image: url('#{$sprite}sprite-6-1.png');
        background-size: 1110px;
        width: 355px;
        height: 595px;
    }

    .selectable-audio {
        width: 100%;
        height: 100%;

        > div {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .selectable {
            position: relative;
            width: 100%;
            height: 100%;
            vertical-align: middle;

            li {
                position: absolute;
                transform: translateY(-10%);
                animation: bob 8s infinite;
                list-style: none;
            }

            li img {
                position: relative;
                transition: opacity .5s;
                max-width: 150px;
            }

            li .hover {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }

            li:hover div.hover {
                opacity: 1;
            }

            $correct: 1 2 3 7 8 9 10 12 13 14 17 18 20 21;

            @for $i from 1 through 14 {
                li:nth-of-type(#{nth($correct, $i)}).HIGHLIGHTED {
                    pointer-events: none;

                    &:hover div,
                    div {
                        opacity: 0;
                    }
                }

            }

            li {
                position: absolute;
                list-style: none;

                div {
                    background-image: url('#{$sprite}sprite-6-2.png');
                    background-size: 325px;
                }

                $left: 1 17 24 40 70 60 16 60 10 48 62 29 79 33 47 78 77 39 34 54 60;
                $top: -1    2 69 25 78 34 53 14 76 -2    1 20    3 48 42 55 29 71 -3 70 55;
                $class: bag milk milk2 shrimp shrimp2 seaweed bottle paper paper2
                        jar lobster glassbottle soda soda2 shell spike box box2
                        shell2 can canholder;
                $width:    150 100 100 120 120 100 110 70 70 85 150 110 80 80 120 85 130 130 120 120 120;
                $height: 150 120 120    75    75 100 110 75 75 85    80 120 90 90 110 70 150 150 110 110    90;
                $background-top: 164 * 6 164 * 7 - 10 164 * 7 - 10 0 0 164 * 1 164 * 9 - 10 164 * 14 - 24 164 * 14 - 24
                                 164 * 5 - 10 164 * 2 164 * 15 - 30 164 * 13 - 20 164 * 13 - 20 164 * 8 - 15 164 * 3 164 * 10 - 20 164 * 10 - 20
                                 164 * 8 - 15 164 * 11 - 10 164 * 12 - 10;

                @for $i from 1 through 21 {
                    &.#{nth($class, $i)} {
                        top: percentage(nth($top, $i) / 100);
                        left: percentage(nth($left, $i) / 100);

                        div {
                            background-position: 0 nth($background-top, $i) * -1 + px;
                            width: nth($width, $i) + px;
                            height: nth($height, $i) + px;

                            // scss-lint:disable NestingDepth
                            &.hover {
                                background-position: -162px nth($background-top, $i) * -1 + px;
                            }
                            // scss-lint:enable NestingDepth
                        }
                    }
                }
            }
        }
    }

    &.COMPLETE .turtle {
        background-position: -370px 0;
    }

    &:not(.TOUCH),
    &:not(.MOBILE), {
        cursor: none;

        div,
        .prev-screen,
        .next-screen,
        .selectable li {
            cursor: none;
        }

        .cursor {
            display: block;
            opacity: 1;
        }

    }

    &:not(.OPEN) .cursor {
        opacity: 0;
    }
}
