$media: $media-server + 'games/sea-turtle/';
$sprite: $media + 'sprites-animations/';
$image: $media + 'image-assets/';
$frame: $media + 'frames/';
$font: $media + 'fonts/';

$blue: rgba(75, 190, 200, 1);

$bubble-blue-1: rgba(75, 190, 200, 0);
$bubble-blue-2: rgba(75, 190, 200, .1);
$bubble-blue-3: rgba(75, 190, 200, .3);
$bubble-blue-4: rgba(255, 255, 255, .7);
$bubble-blue-5: rgba(75, 190, 200, .2);
$bubble-blue-6: rgba(75, 190, 200, 0);
$bubble-blue-7: rgba(75, 190, 200, .1);
$bubble-blue-8: rgba(75, 190, 200, .3);
$bubble-blue-9: rgba(255, 255, 255, 0);
$bubble-blue-10: rgba(9, 133, 167, .1);
$bubble-blue-11: rgba(9, 133, 167, .3);
$bubble-blue-12: rgba(9, 133, 167, .7);
